
@font-face {
    font-family: "MyFont";
    src: url("/resources/font/OpenSans-Regular.ttf") format("truetype"),
    url("/resources/font/") format("truetype");
}

:root {
    --width: 100%;
    --height: 100%;
    --color-two-vacxin:#32B25D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Myfont', 'Open Sans Semibold', sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--width);
    height: var(--height);
    background-color: #dfdfdf;
    overflow: hidden;
    
}

.container {
    width: calc(var(--width) - 10%);
    height: calc(var(--height) - 8%);
    border-radius: 14px;
    background-color: #fbfdfb;
    overflow: hidden;
}

.above {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width);
    height: calc(var(--height) - 40%);
}

.header {
    margin: 20px;
}

.header-title  {
    width: 100%;
    position: relative;
    margin-bottom: 3px;
}

.header-title span {
    font-size: 1.2rem;
    font-weight: 600;
    word-spacing: 1px;
}

.header-title  img{
    position: absolute;
    bottom: 5px;
   margin-left: 5px;
}

.header-location {
    font-size: 1rem;
    font-weight: bold;
    word-spacing: 1px;
}

.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    background-color: #fbfdfb;
    margin: 0;
    border-radius: 18px;
}

.qr-time{
    padding: 10px;
}

.qr-time-update{
    font-size: 0.9rem;
    /* font-weight: bold; */
    color: var(--color-two-vacxin);
}

.province-text-hide{
    display: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-two-vacxin);
}

.qr-hide-text{
    padding: 6px;
}

.qr-hide-text .qr-info-hide-text{
    font-size: 0.7rem;
    color: #AAA;
}

.qr-hide-text .settimeout-hide{
    display: none;
    font-size: 0.9rem;
    color: #AAA;
}

.qr-hide-text .settimeout-hide-time{
    /* display: none; */
    font-size: 0.9rem;
    color: var(--color-two-vacxin);
}

.qr-code img {
    display: inline-block;
    width: 78%;
}

.info-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.fullname{
    font-size: 1.3rem;
    color: #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.gender-birthday{
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* font-weight: 600; */
}

.info-inject {
    width: var(--width);
    margin: 0;
    margin-top: -2px;
    padding: 0 0px;
}

.info-inject img{
    width: var(--width);
    height: var(--height);
}

.below{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width);
    margin: 0;
    padding: 0 0px;

}

.below img{
    width: 80%;
}

/* css Location Province */

.root-province{
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px 5px 5px 5px;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    /* font-weight: bold; */
    overflow-y: scroll;
    background-color: #fff;
    /* overflow: hidden; */
}

.root-province{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar{
    display: none;
}

.location{
    display: block;
    width: calc(100% );
    padding: 30px  20px  20px  20px;
    position: sticky;
    top: 0;
    height: 100px;
    position: fixed;
    background-color: #fff;
}

.location input{
    padding: 10px 10px 10px 8px;
    font-size: 1rem;
    border-color: #aaa;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    outline: none;
}

.location-header-text{
    position: relative;
    color: var(--color-two-vacxin);
    font-size: 1.4rem;
    /* font-weight: bold; */
    text-align: center;
    margin-bottom: 20px;
}

.location-header-text img{
    display: inline-block;
    height: 80%;
    position: absolute;
    left: -3; 
    margin-left: -3px;
}

.location-header-text span{
    display: inline-block;
   padding-bottom: 3px;
}

.province {
    margin-top: 140px;
}

.province p{
    margin: 25px 30px;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-flex-row {
    display: flex;
    align-items: center;
}

.d-flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d-flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-white {
    color: white;
}

.font-black {
    color: black;
}

.font-gray {
    color: gray;
}

.bg-two-vacxin {
    background-color: var(--color-two-vacxin);
}

@media(min-width: 600px) {
    body {
        display: none;
    }
}
@media  (max-height: 700px) {

    * {
        font-size: 12px;
    }
    .header{
        margin: 10px;
    }
    .above {
        height: 65%;
    }

    .qr-code {
        width: 60%;
    }

    .qr-code img {
        width: 65%;
    }
}